@using MeuSitemMVC.Enums;
@model UsuarioModel

@{
    ViewData["Title"] = "Edit User";
}

<div class="text-center">
    <h1 class="display-4">User Edit</h1>
</div>

<form asp-controller="Usuario" asp-action="Editar" method="post">

    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <input type="text" asp-for="Nome" class="form-control" placeholder="Username">
        @Html.ValidationMessageFor(x => x.Nome)
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input type="text" asp-for="Email" class="form-control" placeholder="contact@gmail.com">
        @Html.ValidationMessageFor(x => x.Email)
    </div>
    <div class="form-group">
        <label for="Login">Login</label>
        <input type="text" asp-for="Login" class="form-control" placeholder="login">
        @Html.ValidationMessageFor(x => x.Login)
    </div>

    <div class="form-group">
        <label for="email">Perfil</label>
        <select asp-for="Perfil" class="form-control">
            <option value="">Select</option>
            <option value="@PerfilEnum.Admin">Administrator</option>
            <option value="@PerfilEnum.Padrao">Default</option>
            @Html.ValidationMessageFor(x => x.Perfil)
        </select>
    </div>

    <button type="submit" class="btn btn-primary btn-btn-block" asp-controller="Usuario" asp-action="Editar">Edit</button>
    <a class="btn btn-secondary btn-btn-block" role="button" asp-controller="Usuario" asp-action="Index">Back</a>

</form>


